<mat-form-field appearance="fill" class="project-input">
  <mat-label>Project</mat-label>
  <input
    matInput
    [formControl]="projectControl"
    [matAutocomplete]="autoProject"
  />
  <mat-autocomplete
    autoActiveFirstOption
    #autoProject="matAutocomplete"
    [displayWith]="displayProjectName"
  >
    @for (project of filteredProjects$ | async; track $index) {
    <mat-option [value]="project">{{ project.name }}</mat-option>
    }
  </mat-autocomplete>
  @if (projectControl.invalid) {
  <mat-error>Field is required</mat-error>
  }
</mat-form-field>

<mat-form-field appearance="fill" class="description-input">
  <mat-label>Description</mat-label>
  <input matInput [formControl]="descriptionControl" />
  @if (descriptionControl.invalid) {
  <mat-error>Field is required</mat-error>
  }
</mat-form-field>

<mat-form-field appearance="fill" class="time-input">
  <mat-label>Time spent</mat-label>
  <input matInput [formControl]="spentTimeControl" [matAutocomplete]="auto" />
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    @for (timeEntry of filteredTimes$ | async; track $index) {
    <mat-option [value]="timeEntry">{{ timeEntry }}</mat-option>
    }
  </mat-autocomplete>
  @if (spentTimeControl.invalid) {
  <mat-error>Field is required</mat-error>
  }
</mat-form-field>
