<div class="total-time">
  <span>Total time: </span>
  @if (totalTimeInMinutes$ | async; as totalTimeInMinutes) {
  <span>{{ totalTimeInMinutes }}</span>
  }
</div>
@if (projectEntryViewModels$ | async; as projectEntryViewModels) {
<div
  class="drop-list"
  cdkDropList
  (cdkDropListDropped)="droppedProjectEntry($event)"
>
  @for (projectEntry of projectEntryViewModels; track projectEntry.id) {
  <div class="project-entry">
    <app-project-entry />
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="duplicateProjectEntry(projectEntry)">
        <mat-icon>content_copy</mat-icon>
        <span>Duplicate</span>
      </button>
    </mat-menu>
  </div>
  }
</div>
}
